#notebook-container {
	box-shadow: none;
	-webkit-box-shadow: none;
}

#homelink-container {
	margin: 0 auto;
	text-align: center;
}

#contact-container {
	margin: 1em auto;
	text-align: center;
}

#homelink {
	color: "#000"
}
